   1  : 1.58,
   0.1: 2.71,
  0.05: 3.84, 
  0.01: 6.63,
 0.005: 7.88, 
 0.001: 10.83

In [35]:
# 2.71 - 1.13

In [1]:
import pandas as pd
import numpy as np
from joblib import dump

from chi import square as cs

In [2]:
data = pd.read_excel("komentar/data_clean.xlsx")
komentar = data.komentar.tolist()
label = np.array(data.label.tolist())
y = label
data.tail()

,Unnamed: 0,nomer,label,komentar
4751,NaN,4751,spam,maa a da engenalan a e a jg ga percaya paydara...
4752,NaN,4752,spam,hay guys punya produk bagus banget buat tubuh ...
4753,NaN,4753,non spam,aliando jadi rem gitu iih
4754,NaN,4754,non spam,gak main film aja sih sama raffi jadi pasang k...
4755,NaN,4755,spam,kkk uu r tkk gt kkk uu ks tss sr gg rr kk rukk...

# Pemodelan

## TF-IDF

In [6]:
from sklearn.feature_extraction.text import TfidfVectorizer

vectorizer = TfidfVectorizer()#
X = vectorizer.fit_transform(komentar)
save = vectorizer.fit(komentar)
dump(save, "model/tfidf.w")
# print(vectorizer.get_feature_names())
fitur = vectorizer.get_feature_names()
print(X.shape)

(4756, 14052)

## Pemodelan MNB

In [7]:
from sklearn.naive_bayes import MultinomialNB
clf = MultinomialNB()

# Pemodelan dan Validasi Model

In [8]:
from sklearn.model_selection import StratifiedKFold
from sklearn.metrics import accuracy_score

skf = StratifiedKFold(n_splits=10)
skf.get_n_splits(X, y)

start = 0.001
stop = 1
step = start
alpha_list = np.arange(start,stop+step,step)
# print(alpha_list)
akurasi = list()

ix = 0 #just counter
for alpha in alpha_list:
    clf.set_params(alpha=alpha)
    temp_akurasi = list()
    for train_index, test_index in skf.split(X, y):
    #     print("TRAIN:", train_index, "TEST:", test_index)
        X_train, X_test = X[train_index], X[test_index]
        y_train, y_test = y[train_index], y[test_index]
        
        #latih model
        clf.fit(X_train,y_train)
        
        #prediksi
        y_pred = clf.predict(X_test)
        temp_akurasi.append(accuracy_score(y_test, y_pred))
    rerata_akurasi = sum(temp_akurasi)/len(temp_akurasi)
    akurasi.append(rerata_akurasi)
#     print('alpha   :',alpha)
#     print('     akurasi :',rerata_akurasi)
#     print("="*100)
    ix +=1
    if ix%100 !=0:
        print(".", end="")
    else:
#         print(alpha, ' | ', rerata_akurasi)
        print("")

        pass

ditt = {
    "alpha":alpha_list,
    "akurasi":akurasi
}
index = akurasi.index(max(akurasi))
acc = pd.DataFrame.from_dict(ditt)
acc

...................................................................................................
...................................................................................................
...................................................................................................
...................................................................................................
...................................................................................................
...................................................................................................
...................................................................................................
...................................................................................................
...................................................................................................
...................................................................................................

     alpha   akurasi
0    0.001  0.911907
1    0.002  0.914643
2    0.003  0.915484
3    0.004  0.915695
4    0.005  0.917587
5    0.006  0.918008
6    0.007  0.918009
7    0.008  0.918640
8    0.009  0.919060
9    0.010  0.920111
10   0.011  0.919901
11   0.012  0.920111
12   0.013  0.920531
13   0.014  0.920742
14   0.015  0.920532
15   0.016  0.920742
16   0.017  0.920742
17   0.018  0.920532
18   0.019  0.920742
19   0.020  0.920952
20   0.021  0.920952
21   0.022  0.921582
22   0.023  0.921793
23   0.024  0.921793
24   0.025  0.922214
25   0.026  0.922215
26   0.027  0.922215
27   0.028  0.922215
28   0.029  0.922215
29   0.030  0.922425
..     ...       ...
970  0.971  0.925165
971  0.972  0.925165
972  0.973  0.925165
973  0.974  0.925165
974  0.975  0.925165
975  0.976  0.925165
976  0.977  0.925165
977  0.978  0.925165
978  0.979  0.925165
979  0.980  0.925165
980  0.981  0.925165
981  0.982  0.925165
982  0.983  0.925165
983  0.984  0.925165
984  0.985  0.925165
985  0.986  0.925165
986  0.987  0.925165
987  0.988  0.925165
988  0.989  0.925165
989  0.990  0.925165
990  0.991  0.925165
991  0.992  0.925165
992  0.993  0.925165
993  0.994  0.925165
994  0.995  0.924955
995  0.996  0.924955
996  0.997  0.924955
997  0.998  0.924955
998  0.999  0.924955
999  1.000  0.924955

[1000 rows x 2 columns]

In [10]:
print(alpha_list[index])
print(akurasi[index])

0.296
0.9268460858027421

In [9]:
print(alpha_list[index])
print(akurasi[index])

0.296
0.9268460858027421

# Menyimpan Model

In [12]:
clf.set_params(alpha=alpha_list[index])
clf.fit(X, y)
dump(clf, "model/mnb.m")

['model/mnb.m']